# Результаты сборки .NET
**/[Bb]in/
**/[Oo]bj/
**/[Oo]ut/
**/[Pp]ublish/
# Файлы Rider
*.DotSettings.user
.idea/
**/*.sln.iml
# NuGet пакеты
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
# Системные файлы
**/.DS_Store
**/Thumbs.db
**/desktop.ini
# Временные файлы
**/*.tmp
**/*.log
**/*.bak
**/*.cache
# Покрытие тестами
**/coverage/
**/*.coverage
**/*.coveragexml
# Тестовые результаты
**/[Tt]est[Rr]esult*/
**/[Bb]uild[Ll]og.*